/* https://coolors.co/363636-242f40-cca43b-e5e5e5-ffffff */

:root {
    --graphite: #363636;
    --jet-black: #242f40;
    --golden-bronze: #cca43b;
    --alabaster-grey: #e5e5e5;
    --white: #ffffff;
    
    --primary-color: var(--alabaster-grey);
    --primary-text: var(--jet-black);
    --secondary-text: var(--white);
    --secondary-color: var(--white);
    --accent-1: var(--graphite);
    --accent-2: var(--golden-bronze);
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: var(--primary-color);
    color: var(--primary-text);
}

section, header > div, footer {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

nav ul a {
    color: var(--primary-text);
    text-decoration: none;
    font-weight: bold;
}

.current {
    color: var(--accent-2);
}