@media only screen and (min-width: 560px) {
    
    body {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: 0 auto;
        gap: var(--primary-padding);
    }
    
    main {
        margin-bottom: 0;
    }

    header, main, footer {
        margin: 0;
    }
    
    .main-image figure {
        margin: 0;
    }

    header > div, footer {
        padding: var(--primary-padding);
    }

    h1 {
        margin: 0 0 var(--secondary-padding) 0;
        font-size: 2rem;
    }

    header > div {
        display: block;
    }

    h2 {
        /* margin: var(--primary-padding) 0 var(--secondary-padding) 0; */
    }

    .top-content {
        margin: 0 0 var(--primary-padding) 0;
    }

    p {
        margin: 0 0 var(--secondary-padding) 0;
    }

    ul {
        margin: 0 0 var(--secondary-padding) 0;
        padding-left: var(--primary-padding);
    }

    footer {
        padding: var(--primary-padding);
    }
    
    .three-column {
        flex-direction: row;
    }
    
    .contact-info, .class-project {
        padding: 0;
    }
    
    footer div {
        padding: 10px 0;
    }

    .top-content {
        display: flex;
        gap: var(--primary-padding);
        align-items: flex-start;
    }

    .intro {
        flex: 2;
    }

    .main-image {
        flex: 1;
    }

    .main-image figure, .gallery figure {
        margin: 0;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block !important;
        position: static;
        width: auto;
        background: none;
    }
    
    .navigation ul {
        display: flex;
        gap: 10px;
        border-bottom: none;
        box-shadow: none;
    }
    
    .navigation li {
        padding: var(--secondary-padding);
        border: none;
    }

    .navigation li:hover {
        background-color: var(--primary-color);
    }

    .visit-content {
        grid-template-areas:
            "getting-there getting-there"
            "lodging form"
            "cave form";
    }
}