@media only screen and (min-width: 560px) {
    
    header, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        padding: var(--primary-padding) var(--primary-padding) var(--primary-padding) var(--primary-padding);
        margin: 0 auto var(--primary-padding) auto;
    }

    h1 {
        margin: 0 0 var(--secondary-padding) 0;
    }

    h2 {
        margin: var(--primary-padding) 0 var(--secondary-padding) 0;
    }

    section {
        padding: 0 var(--primary-padding);
        margin: 0 0 var(--primary-padding) 0;
    }

    p {
        margin: 0 0 var(--secondary-padding) 0;
    }

    ul {
        margin: 0 0 var(--secondary-padding) 0;
        padding-left: var(--primary-padding);
    }

    footer {
        padding: var(--primary-padding);
    }
}