:root {
    --primary-padding: 20px;
    --secondary-padding: 10px;
}

header {
    padding: 0;
    margin: 0;
}

header > div {
    padding: var(--primary-padding);
}

/* A little top and bottom padding */
section {
    padding: var(--primary-padding);
}

h1 {
    margin: 0 0 var(--secondary-padding) 0;
}

h2 {
    margin-top: 0;
    margin-bottom: var(--secondary-padding);
}

section {
    /* padding: 0 var(--primary-padding); */
    margin: 0 0 var(--primary-padding) 0;
}

section:first-of-type h2 {
    margin-top: 0;
}

p {
    margin: 0 0 var(--secondary-padding) 0;
}

ul {
    margin: 0 0 var(--secondary-padding) 0;
    padding-left: var(--primary-padding);
}

footer {
    padding: var(--primary-padding);
}

/* Footer */
.three-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-links {
    display: flex;
    justify-content: center;
}