@media only screen and (min-width: 320px) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        background-color: var(--primary-color);
    }
    
    .navigation ul {
        /* no bullets */
        list-style: none;
        flex-direction: row;
    }
    
    .navigation li {
        padding: 10px;
    }

    .navigation li:hover {
        background-color: var(--accent-1);
    }

    .two-column {
        grid-template-columns: 2fr 1fr;
    }

    #course_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing);
    }
}